* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/a.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.023);
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.678);
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(161, 158, 158, 0.038);
    text-align: left;
    position: relative;
    margin-right: 55%;
}

.form-header {
    display: flex;
    align-items: left;
    margin-bottom: 5px;
}

.header-logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}


.input-group {
    width: 95%;
    margin: 5px 0;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-size: 14px;
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px 12px 12px 40px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    width: 94%;
    padding: 12px;
    background: linear-gradient(45deg, #4c8caf, #4ab7c3); 
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #4a6ec3, #4ca0af); 
}


p {
    margin-top: 10px;
    text-align: center;
}

a {
    color: #4ca3af;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
h2 {
    text-align: center;
    flex: 1;
}